body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Microsoft Sans Serif';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;


  body {
    background-image: url('../public/Win98-Desk.png');
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
