*/.idea
.idea
./Lab1/HR-Service/target/
./Lab1/WorkerService/target/
./.gitignore
payara-micro.jar
payara-micro-6.2024.10.jar
payara-micro-7.2024.1.Alpha1.jar
./Lab1/frontend/build/
./Lab1/frontend/node_modules/
./Lab1/frontend/.idea/