# Default ignored files
/shelf/
/workspace.xml
../.idea/**
./.idea/**
./Lab1/.idea/**
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml